<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <title>{% block title %}Cantina{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
  <body>
    <header class="app-header">
    <div class="app-header-inner">
        <a href="/" class="app-logo">Cantina Escolar</a>
        <nav class="app-nav">
            <a href="/">Início</a>
            <a href="/estoque/produtos/">Produtos</a>
            <a href="/estoque/movimentacoes/">Estoque</a>
            <a href="/vendas/">Vendas</a>
            <a href="/relatorios/">Relatórios</a>
        </nav>
    </div>
</header>
    <main class="app-shell">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
